<header>
    <div class="container">
        <div id="branding">
            <div id="logo">
                <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" /></a>
            </div>
            <div class="site-name">
                <h1>Hackathon0</h1>
            </div>
            <div class="slogan">
                <h2>Saturday, November 8 - Sunday, November 9, 2014</h2>
            </div>
        </div>

        <div id="main-menu">
            <ul class="menu">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/gitworkshop">Git Workshop</a></li>
                <li><a href="{{ site.baseurl }}/project_parameters">Project Parameters</a></li>
                <li><a href="{{ site.baseurl }}/schedule">Schedule</a></li>
                <li><a href="{{ site.baseurl }}/register">Register</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact Us</a></li>
            </ul>
        </div>

    </div>
</header>