<header>
    <div class="container">
        <div id="branding">
            <div id="logo">
                <a href="/"><img src="/images/logo.png" /></a>
            </div>
            <div class="site-name">
                <h1>Hackathon0</h1>
            </div>
            <div class="slogan">
                <h2>Saturday, November XX - Sunday, November XX 2014</h2>
            </div>
        </div>

        <div id="main-menu">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/gitworkshop">Git Workshop</a></li>
                <li><a href="/project_parameters">Project Parameters</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>

    </div>
</header>