<div class="location cf">

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <div id="gmap" style="overflow:hidden;height:300px;widows: 500;px;">
        <div id="gmap_canvas" style="height:300px;width:500px;"></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important
            }
        </style>
        <a class="google-map-code" href="http://www.trivoo.net" id="get-map-data">kleine mengen</a></div>
    <script type="text/javascript"> function init_map() {
        var myOptions = {zoom: 14, center: new google.maps.LatLng(39.148037, -76.66884600000003), mapTypeId: google.maps.MapTypeId.ROADMAP};
        map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
        marker = new google.maps.Marker({map: map, position: new google.maps.LatLng(39.148037, -76.66884600000003)});
        infowindow = new google.maps.InfoWindow({content: "<b>Unallocated Space</b><br/>512 Shaw Ct.<br/>Severn, MD 21144" });
        google.maps.event.addListener(marker, "click", function () {
            infowindow.open(map, marker);
        });
        infowindow.open(map, marker);
    }
    google.maps.event.addDomListener(window, 'load', init_map);</script>

    <p>
    Unallocated Space<br />
    512 Shaw Ct.<br />
    Suite #105<br />
    Severn, MD 21144<br />
    </p>

    <p>It's the second building on the left once you're on Shaw Court, all the way down at the end of the unit. The front of
    the building is NOT the side with the bay door, but it'll be fine if you come that way anyhow.
    </p>

    <p>There should be plenty of parking available.</p>


</div>



