---
layout: default
---

<div class="project-meta">

    {% if page.git_project_link %}
    <div class="git-info">
        <a href="{{ page.git_project_link }}" class="btn btn-github">View on GitHub</a>
    </div>

    {% endif %}

    <div class="project-lead">
        <div class="label">Project Lead: </div>
        {% if page.project_lead %}
            {{ page.project_lead }}
        {% else %}
            This project does not currently have a project lead.
        {% endif %}
    </div>

    {% if page.project_languages %}
    <div class="project-languages">
        <div class="label">Programming Languages: </div>
        {{ page.project_languages }}
    </div>
    {% endif %}


    {% if page.project_other_techs %}
    <div class="project-other-techs">
        <div class="label">Other Technologies: </div>
        {{ page.project_other_techs }}
    </div>
    {% endif %}

</div>

<div class="events-content">
    {{ content }}
</div>